
.posts-container{
    width: 40%;              /* عرض 90% */
    margin: 5px auto 5px auto;         
    background-color: rgb(173, 231, 231);
    padding: 20px;       
    border-radius: 10px;  
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
} 


.post{
    background-color: #fff;
    margin: 0 auto 5px auto ;         
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 40%;
    justify-content:center;
    align-items:center;
} 